<h2 style="margin-top: 50px;">Auswertung</h2>
<button style="float: right" [routerLink]="['/esv-statistik/menue/eisen']" class="btn btn-outline-dark"> Zurück </button>

<ul class="nav nav-tabs" role="tablist" style="margin-top: 50px;">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pivot" data-bs-toggle="tab" role="tab" tabindex="0" (click)="changeView('pivot')">Pivot</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="export" data-bs-toggle="tab" role="tab" tabindex="1" (click)="changeView('export')">Export pro Land</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="divergence" data-bs-toggle="tab" role="tab" tabindex="2" (click)="changeView('divergence')">Vergleich</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="tab_pivot" role="tabpanel" style="margin-top: 10px;">
        <app-eisen-pivot></app-eisen-pivot>
    </div>
    <div class="tab-pane fade" id="tab_export" role="tabpanel" style="margin-top: 10px;">
        <app-eisen-export></app-eisen-export>
    </div>
    <div class="tab-pane fade" id="tab_divergence" role="tabpanel" style="margin-top: 10px;">
        <app-eisen-divergenz></app-eisen-divergenz>
    </div>
</div>