<h1 style="text-align: center; margin-top: 50px;">ESV - Importe</h1>

<div style="text-align: center;">
    <hr style="max-width: 50%; margin: 0 auto">
    <div class="d-grid gap-2 menueButton">
        <button class="btn btn-lg btn-primary" type="button" [routerLink]="['/esv-import/meldungen']" >Importstatistik bearbeiten</button>
    </div>
    <div class="d-grid gap-2 menueButton">
        <button class="btn btn-lg btn-primary" type="button" [routerLink]="['/esv-import/auswertungen']" >Auswertung</button>
    </div>
    <div class="d-grid gap-2 menueButton">
        <button class="btn btn-lg btn-secondary" type="button" [routerLink]="['/esv-import/laender']" >Länder</button>
    </div>
    <div class="d-grid gap-2 backButton">
        <button class="btn btn-lg btn-outline-dark" type="button" [routerLink]="['/hauptmenue']" >Zurück</button>
    </div>
</div>
