table {
    border-collapse: collapse;
    width: 100%;
    border: 3px solid black;
}

th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

td {
    padding: 5px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.title th {
    border-bottom: 0px;
}

.prodID {
    font-size: x-small;
}

.section {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-style: double;
    font-weight: bold;
}